@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* TEXT HIGHLIGHT  */
::selection {
  background: #4bb4a6;
  color: #fff;
}

/* FONT  */
@font-face{
  font-family: myFont;
  src:url(./1_MediaAssets/fonts/Garet-Book.otf);
}
*{
  font-family: myFont;
}

@font-face{
  font-family: myFontBold;
  src:url(./1_MediaAssets/fonts/GothamOffice-Bold.otf);
}
h1, .fontSpecial{
  font-family: myFontBold;
  font-weight: 300;
}   